<!doctype html>
<html lang="en">
<head>
	<title>HelpInvest - Sua independência financeira</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Webestica.com">
	<meta name="description" content="Creative Multipurpose Bootstrap Template">

	<!-- Favicon -->
	<link rel="shortcut icon" href="assets/images/favicon.ico">

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900%7CPlayfair+Display:400,400i,700,700i%7CRoboto:400,400i,500,700" rel="stylesheet">

	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="assets/vendor/font-awesome/css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="assets/vendor/themify-icons/css/themify-icons.css" />
	<link rel="stylesheet" type="text/css" href="assets/vendor/animate/animate.min.css" />

	<!-- Theme CSS -->
	<link rel="stylesheet" type="text/css" href="assets/css/style.css" />

</head>

<body>
	<div class="preloader">
		<img src="assets/images/preloader.svg" alt="Pre-loader">
	</div>

	<!-- =======================
	Sign in -->
	<section class="p-0 d-flex align-items-center">
		<div class="container-fluid">
			<div class="row">
				<!-- left -->
				<div class="col-12 col-md-5 col-lg-4 d-md-flex align-items-center bg-grad h-sm-100-vh">
					<div class="w-100 p-3 p-lg-5 all-text-white">
						<div class="justify-content-center align-self-center">
							<h1 class="font-weight-light">HelpInvest</h1>
						</div>
						<h3 class="font-weight-light">O primeiro passo é o suficiente para te guiarmos na sua jornada</h3>
						<ul class="list-group list-group-borderless mt-4">
							<li class="list-group-item text-white"><i class="fa fa-check"></i>Conecte-se com analistas financeiros</li>
							<li class="list-group-item text-white"><i class="fa fa-check"></i>Tenha o controle da sua vida financeira na tela de seu computador</li>
							<li class="list-group-item text-white"><i class="fa fa-check"></i>Alcance seus objetivos planejando com a gente</li>
						</ul>
					</div>
				</div>
				<!-- Right -->
				<div class="col-12 col-md-7 col-xl-8 mx-auto my-5">
					<div class="row h-100">
						<div class="col-12 col-md-10 col-lg-5 text-left mx-auto d-flex align-items-center">
							<div class="w-100">
								<h2 class="">Entre em sua conta</h2>
								<h5 class="font-weight-light">Informe seus dados do CEI para que seu Analista de Investimento possa te ajudar</h5>
								<div class="form mt-4 ">
									<div>
										<p class="text-left mb-2">Email</p>
										<span class="form-group"><input type="email" class="form-control" placeholder="E-mail"></span>
									</div>
									<div>
										<div class="d-flex justify-content-between align-items-center">
											<p class="text-left mb-2">Senha</p>
											<a class="text-muted small mb-2" href="https://cei.b3.com.br/CEI_Responsivo/recuperar-senha.aspx">Esqueceu sua senha? Clique aqui.</a>
										</div>
										<span class="form-group"><input type="password" class="form-control" placeholder="*********"></span>
									</div>
									<div class="row align-items-center no-gutters m-0">
										<!-- <div class="col-6 col-md-8"><span class="text-muted">Don't have an account? <a href="sign-up.html">Signup</a></span></div> -->
										<div class="col-6 col-md-4 text-right"><button class="btn btn-dark ">Let's Rock</button></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- =======================
	Sign in -->

	<!--Global JS-->
	<script src="assets/vendor/jquery/jquery.min.js"></script>
	<script src="assets/vendor/popper.js/umd/popper.min.js"></script>
	<script src="assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="assets/vendor/jquery-easing/jquery.easing.min.js"></script>

	<!--Template Functions-->
	<script src="assets/js/functions.js"></script>

</body>
</html>